@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {}

input {
  border: 3px #040 solid;
}

input::placeholder {
  color: blue;
}

.neon-text {
  text-shadow: 0 0 5px #fff, 0 0 10px #ff00ff, 0 0 20px #ff00ff, 0 0 40px #ff00ff, 0 0 80px #ff00ff;
}

.shadow-neon {
  box-shadow: 0 0 10px rgba(255, 0, 255, 0.5), 0 0 20px rgba(255, 0, 255, 0.3), 0 0 30px rgba(255, 0, 255, 0.2);
}